---
title: Mathematical Pursuit Curve Pattern
---

<section class="column-left">

  <h1>
    Click on the grey area to get X and Y.<br/><br/>
    Use 3 or 4 points to draw.<br/><br/>
    Clear points before draw again.
  </h1>

  <div>
    <label for="point-1">Point 1</label>
    <input id="point-1-x" type="text" />
    <input id="point-1-y" type="text" />
  </div>

  <div>
    <label for="point-2">Point 2</label>
    <input id="point-2-x" type="text" />
    <input id="point-2-y" type="text" />
  </div>

  <div>
    <label for="point-3">Point 3</label>
    <input id="point-3-x" type="text" />
    <input id="point-3-y" type="text" />
  </div>

  <div>
    <label for="point-4">Point 4</label>
    <input id="point-4-x" type="text" />
    <input id="point-4-y" type="text" />
  </div>

  <div style="display: none;">
    <label for="distance">Distance</label>
    <input id="distance" type="text" value="0.05" />
  </div>

  <div style="display: none;">
    <label for="sides">Sides</label>
    <input id="sides" type="text" value="3" />
  </div>

  <button id="draw">Draw</button>
  <button id="clear">Clear</button>

</section>

<section class="where-canvas">
</section>
